<div class="container about py-5">
	<div class="row">
		
		<h1 class="animated fadeIn fast">Sobre Comics</h1>

		<hr>

		<p class="animated fadeIn">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi dolor at ipsa sunt, accusamus sequi maxime cumque! Cumque, incidunt, ut, odio nostrum nobis consectetur nam natus omnis officia eum magni?

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis laborum, hic ut quidem voluptates sequi veniam obcaecati facere consequuntur voluptas ducimus quae, est rerum delectus ullam cumque autem vero adipisci.

			<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nostrum iure vel et obcaecati ullam. Dolorem sequi ut, quasi unde nam reprehenderit inventore eos, totam rem. Inventore cumque molestiae quasi.

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eum et, velit nesciunt repellendus ducimus eius, quo dolor ipsa officia sint minus nostrum molestiae. Sit explicabo vero, ab architecto quam.

			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde similique facere sequi praesentium deleniti deserunt ut quae quis rem at aliquid quam, ducimus provident, esse maxime in rerum sunt iste.
		</p>

	</div>
</div>